.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('https://www.superiorwallpapers.com/celebrity/charlie-chaplin-quote_1920x1080.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

header {
  background-color: #2d4059;
  color: white;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

h1 {
  margin: 0;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  background-color: #2d4059;
  cursor: pointer;
}

p {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  color: black;
}

.joke-text {
  color: black;
}

.dark {
  background-color: #333;
}

.dark p.text-white {
  color: white;
}
